<header class="py-4 lg:py-8">
  <div class="container">
    <a class="block font-bold text-xl" href="{{@site.url}}">
      {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="max-w-7xl w-full">
      {{else}}
        {{@site.title}}
      {{/if}}
    </a>
  </div>

  <div class="container flex items-center justify-between gap-4">
    {{navigation}}
    <div class="text-xl font-bold">Mar 2023</div>
  </div>
</header>
